 <div id="fresh">
 {{#each all}}
   {{#unless devoured}}
    <p>
      {{id}}. {{name}}

      <button data-id="{{id}}" class="devour">Devour It!</button>
    </p>
   {{/unless}} 
  
  {{/each}}

 </div>

 <div id = "order">
<img src = "/assets/img/burger.gif" width="200px" >
<form action="/api/order" method="POST">
  <label>Order your burger: </label> 
	<input type="text" name="burger"></input>

	<button type="submit">Order Now</button>    
</form>

 </div>
 
  
  <div id="devoured">
  {{#each all}}
   {{#if devoured}}
    <p>
      {{id}}. {{name}}
    </p>
   {{/if}} 
  
  {{/each}}
  </div>

  


  <script type="text/javascript">

  $(".devour").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    {{!-- event.preventDefault(); --}}

    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $(this).attr("data-id");

    // Send the PUT request.
    $.ajax("/api/devour/" + id, {
      type: "PUT"
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });  
  </script>